In [9]:
## Arithmetic operations
a=10
b=5
result=a+b #addition
sub=a-b#substraction
mul=a*b #multiplication
div=a/b #division
floor_dv=a//b #floor division it will only who the roundup number
modulus_result=a%b #modulus_operation


print(result, sub,mul,div,floor_dv,modulus_result)

15 5 50 2.0 2 0

In [18]:
#### Comparision operator
 ### Equal to operator
a=10
b=10
a==b

True

In [25]:
name="shital"
name1="Shital"
name==name1

False

In [28]:
## Greater than or equal to
number1=45
number2=45
number1>=number2

True

In [29]:
## Less than or equal to
number1=45
number2=34
number1<=number2

False

#### COMPARISON OPERATOR
LOGICAL OPERATOR \
AND, NOT, OR

###

In [30]:
x=True
y=False
result=x and y
print(result)

False

### NOT operator

In [33]:
X=False
Y=True
result=X not Y 
print(result)

SyntaxError: invalid syntax (75492883.py, line 3)